/***********************************************************
   * Fonts
 ***********************************************************/
@font-face {
  font-family: 'DIN next light';
  src: url("../assets/fonts/DINNextW1G-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN next medium';
  src: url("../assets/fonts/DINNextW1G-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
/***********************************************************
   * General Page Style
 ***********************************************************/
@page {
  size: A4 portrait;
  margin: 2cm 1cm;
  padding: 0cm;
  font-family: 'DIN next light';
}
.page {
  width: 210mm;
  border: 1px solid #b30000;
  font-family: 'DIN next light';
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'DIN next light';
}
/***********************************************************
   * Rubric
 ***********************************************************/
.page .rubric {
  position: absolute;
  top: -2mm;
  left: -2mm;
  height: 31mm;
  width: 12mm;
  background-color: #007499;
}
.page .rubric .icon {
  height: 50%;
}
.page .rubric .headline {
  height: 50%;
}
.page .rubric .headline p {
  margin: 0;
  transform: rotate(270deg);
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  font-size: 8pt;
  position: absolute;
  bottom: 5.3mm;
  left: 10.5mm;
  transform-origin: 0 100%;
  text-align: center;
}
/***********************************************************
   * Linker Content Container
 ***********************************************************/
.container-left {
  margin-left: 21mm;
  margin-top: 16.5mm;
}
.container-left:after {
  display: block;
  content: "";
  clear: both;
}
/***********************************************************
   * Page Layout (Content,Sidebar)
 ***********************************************************/
.content-container {
  float: left;
  width: 110mm;
  margin-right: 5mm;
  position: relative;
}
.sidebar-container {
  float: left;
  width: 56mm;
}
/***********************************************************
   * Article Item Container
 ***********************************************************/
.article-item:after {
  display: block;
  content: "";
  clear: both;
}
/***********************************************************
   * KAPITEL HEADLINE
   * 28 pt, din next light, -25% unterschnitten
 ***********************************************************/
.chapter-title-image {
  height: 72.5mm;
  margin-bottom: -6.5mm;
}
.chapter-title-image img,
.chapter-title-image svg {
  position: absolute;
  top: -2mm;
  left: 8mm;
  z-index: -1;
  width: 204mm;
  height: 72.5mm;
}
/***********************************************************
   * KAPITEL HEADLINE
   * 28 pt, din next light, -25% unterschnitten
 ***********************************************************/
h1.chapter-headline {
  margin: 0 0 10mm 0;
  padding: 0;
  font-family: 'DIN next light';
  font-size: 28pt;
  text-transform: uppercase;
  letter-spacing: -0.25mm;
}
.article-item + h1.chapter-headline {
  margin-top: 15mm;
}
/***********************************************************
   * Headline in Kapitelfarbe mit Linie unten
   * 172mm DIN medium 14 pt. Schriftgr. 13 pt ZAB. Linie 0,5 pt in Kapitelfarbe
 ***********************************************************/
h2 {
  display: block;
  width: 172mm;
  margin: 0 0 3mm 0;
  padding-bottom: 1.2mm;
  font-family: 'DIN next medium';
  font-size: 14pt;
  line-height: 13pt;
  border-bottom-style: solid;
  border-bottom-width: 0.5pt;
}
/***********************************************************
   * Image Container
 ***********************************************************/
.content-image {
  width: 110mm;
  height: 57mm;
  position: relative;
  background-image: url("http://www.windhager.eu/typo3temp/pics/06846-Kinder-Anzuchtset-Anwender-03_599f2beae9.jpg");
  background-size: cover;
}
.content-image img,
.content-image svg {
  width: 100%;
}
.content-image svg,
.content-image img {
  position: absolute;
  top: 0;
  left: 0;
}
/***********************************************************
   * Tabelle mit Produktinfos
 ***********************************************************/
.content-table-container {
  margin-top: 4.5mm;
  margin-bottom: 10mm;
  width: 110mm;
  font-size: 7pt;
  line-height: 8.1pt;
}
.content-table-container:after {
  display: block;
  content: "";
  clear: both;
}
.content-table-container table.info-table-item {
  border-spacing: 0;
  width: 53mm;
  float: left;
  /* COLUMN WIDTHS (Gesamtbreite = 110/2 - @margin-table-2col" = 53mm) */
}
.content-table-container table.info-table-item .col-item {
  width: 17mm;
  min-width: 17mm;
}
.content-table-container table.info-table-item .col-color-form {
  width: 9mm;
  min-width: 9mm;
}
.content-table-container table.info-table-item .col-ean {
  width: 24mm;
}
.content-table-container table.info-table-item:nth-child(odd) {
  margin-right: 4mm;
}
.content-table-container table.info-table-item:nth-child(n+3) thead {
  display: none;
}
.content-table-container table.info-table-item td {
  margin: 0;
  padding: 0.5mm;
  border-bottom: 0.3pt solid rgba(0, 0, 0, 0.5);
  position: relative;
}
.content-table-container table.info-table-item tbody .td {
  height: 10mm;
}
.content-table-container table.info-table-item .color-form-sample-square {
  width: 8mm;
  height: 8mm;
}
.content-table-container table.info-table-item .ean {
  font-family: 'Libre Barcode 128 Text';
  font-size: 5mm;
  line-height: 1;
  white-space: nowrap;
}
.content-table-container table.info-table-item .packaging {
  position: absolute;
  bottom: 1mm;
  right: 1mm;
  padding: 0.5mm 0.5mm 0 0.5mm;
  background-color: #D51317;
  color: #ffffff;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.content-table-container table.info-table-item .packaging:empty {
  padding: 0;
}
.content-table-container table.info-table-item .packaging:after {
  content: "";
}
/***********************************************************
   * Bild rechts in Sidebar unten bündig mit Content
 ***********************************************************/
.content-sidebar-image {
  position: absolute;
  right: -61mm;
  bottom: 10mm;
  width: 52.825mm;
  text-align: center;
}
.content-sidebar-image img {
  max-width: 100%;
  max-height: 211mm;
}
/***********************************************************
   * Sidebar Bulletpoint List
 ***********************************************************/
.sidebar-bulletpoint-list {
  margin: 0;
  padding: 0 0 0 3.175mm;
  max-height: 38mm;
  font-size: 8pt;
  line-height: 9.6pt;
}
/***********************************************************
   * Colors
 ***********************************************************/
.rubric-protection .rubric {
  background-color: #007499;
  height: 29mm;
}
.rubric-protection h2,
.rubric-protection h1 {
  color: #007499;
  border-color: #007499;
}
.rubric-protection .cut {
  top: 27mm;
}
.rubric-growing .rubric {
  background-color: #95C11F;
  height: 58mm;
}
.rubric-growing h2,
.rubric-growing h1 {
  color: #95C11F;
  border-color: #95C11F;
}
.rubric-growing .cut {
  top: 56mm;
}
/***********************************************************
   * Beschnitte
 ***********************************************************/
.cut {
  top: 29mm;
  height: 100%;
  position: absolute;
  left: 0;
  width: 10mm;
  background-color: deeppink;
}
