/***********************************************************
   * Fonts
 ***********************************************************/

@font-face {
  font-family: 'DIN next light';
  src: url("/static/css/style_windhager-catalogue/fonts/DINNextW1G-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN next medium';
  src: url("/static/css/style_windhager-catalogue/fonts/DINNextW1G-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN next bold';
  src: url("/static/css/style_windhager-catalogue/fonts/DINNextW1G-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Code EAN HH';
  src: url("/plugins/Web2PrintBlackbit/static/fonts/Code-EAN-HH.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ean13';
  src: url("/plugins/Web2PrintBlackbit/static/fonts/ean13.ttf");
  font-weight: normal;
  font-style: normal;
}


/***********************************************************
   * General Page Style
 ***********************************************************/



// Chapter Tabs
//@import "chapter-tabs.less";


//@page-height : 297mm;
@page-width: 210mm;

@page {

  font-family: 'DIN next light';
  position:relative;

  size: A4;
  margin: 12mm  22mm  15mm  16mm;
  counter-increment: pageCounter;

  -ro-media-size:  SRA4 portrait;
  -ro-bleed-width: 3mm;
  -ro-marks:       trim;

  counter-increment: pageCounter;
}

/***********************************************************
   * Orientation
 ***********************************************************/


.rubric--left {
  position: running(rubric--left);
  z-index: 9999;
  width: 16mm;
}

.rubric--right {
  position: running(rubric--right);
  z-index: 9999;

  width: 16mm;
}

@page:left {

  //margin-left: 21mm;
  //margin-top: 16.5mm;

  @bottom-left-corner {
    content: counter(pageCounter);
    position:absolute;
    left:16mm;
    bottom:4mm;
    font-size: 9pt;
    color: #000000; /*webview only */
    /*color: cmyk(0, 0, 0, 1);*/
    text-align: left;
    font-family: 'DIN next medium' ;
  }
  @top-left-corner {
    content: element(rubric--left);
    position: absolute;
    top:0;
    left:0;
  }
}

@page:right {

  //margin-right: 21mm;
  //margin-left: 21mm;
  //margin-right: 21mm;
  //float: right;

  @bottom-right-corner {
    content: counter(pageCounter);
    position:absolute;
    right:16mm;
    bottom:4mm;
    font-size: 9pt;
    color: #000000; /*webview only */
    text-align: right;
    font-family: 'DIN next medium' ;
  }

  @top-right-corner {
    content: element(rubric--right);
    position: absolute;
    top:0;
    right:0;
  }
}


.page {

  // FOR TESTING
  //width: 210mm;
  //border: 1px solid deeppink;

  font-family: 'DIN next light';
  position: relative;
  overflow: hidden;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}


body {
  margin: 0;
  padding: 0;

  font-family: 'DIN next light';
}

.pagebreak-force-page-break {
  page-break-after: always;
}
.emptyPage {
  page-break-before: always;
}


/***********************************************************
   * Rubric
 ***********************************************************/

@basic-tab-height: 29mm;

//.page {

  .rubric {

    position: absolute;
    top:-3mm;                   //3mm Überstand wegen Druck
    left: 0;
    z-index: 999;

    .rubric--right & {
      left: unset;
      right:-3mm;
    }

    height: @basic-tab-height + 3mm;
    width: 15mm;

    background-color: #007499;


    .icon {
      position: absolute;
      right:0;


      .rubric--right & {
        left: 0;
        right: unset;
      }

      img,svg {
        width: 10mm;
      }
    }

    .headline {
      p {
        display: block;
        margin: 0;
        transform: rotate(270deg);
        color: #ffffff;
        display: block;
        text-transform: uppercase;
        font-size: 8pt;
        position: absolute;
        bottom: 5.3mm;
        left: 13.5mm;
        min-width: 29mm;

        .rubric--right & {
          left: 7.5mm;
        }

        transform-origin: 0 100%;
        text-align: center;
        font-family: "DIN next bold";
      }
    }

  }

//}


/***********************************************************
   * Linker Content Container
 ***********************************************************/
.container {
  margin-left: 21mm;
  margin-top: 16.5mm;

  width: 172mm;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

/***********************************************************
   * Page Layout (Content,Sidebar)
 ***********************************************************/
.content-container { float: left; width: 110mm; margin-right: 5mm; position: relative}

.sidebar-container {
  position: absolute;
  left: 120mm;
  top: 9mm;

  width: 50mm;
}


/***********************************************************
   * Article Item Container
 ***********************************************************/
.article-item {

  margin-left: 8mm;
  position: relative;
  break-inside: avoid-page;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

/***********************************************************
   * KAPITEL HEADLINE
   * 28 pt, din next light, -25% unterschnitten
 ***********************************************************/

.chapter-title-image {

  //height: 72.5mm;
  margin-bottom: 10mm;   //10mm Abstand zur Headline zu haben
  //margin-right: -20mm;
  margin-left: 8mm;
  width: 182mm;

  //todo !!! in ro-box packen zur Positionierung

  //position: absolute;
  //width: 100mm;
  //right: -10mm;
  //top:0;
  //z-index: 99999;

  img,svg {
    //position: absolute;
    //top: -2mm;
    //left: 8mm;
    z-index: -1; //Damit es unter dem Rubriken-Reiter liegt, aber kein Weißraum dazwischen entsteht

    width: 100%;
    //width: @page-width - 6mm;
    //height: 72.5mm;
  }

}

/***********************************************************
   * KAPITEL HEADLINE
   * 28 pt, din next light, -25% unterschnitten
 ***********************************************************/

h1.chapter-headline {

  margin: 0 0 10mm 8mm;
  padding: 0;

  font-family: 'DIN next light';
  font-size: 28pt;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.25mm;        //25% unterschnitten ??? heisst es das ???

}

.article-item + h1.chapter-headline {
  margin-top: 15mm;                     //25mm Abstand zwischen Produkt und Kapitel Headline
}

/***********************************************************
   * Headline in Kapitelfarbe mit Linie unten
   * 172mm DIN medium 14 pt. Schriftgr. 13 pt ZAB. Linie 0,5 pt in Kapitelfarbe
 ***********************************************************/

h2 {

  display: block;
  width: 172mm;
  margin: 0 0 3mm 0;
  padding-bottom: 1.2mm;

  font-family: 'DIN next medium';
  font-size: 14pt;
  line-height: 13pt;

  border-bottom-style: solid;
  border-bottom-width: 0.5pt;

}

/***********************************************************
   * Introtext
 ***********************************************************/

.intro-text, .intro-text p {
  margin: 0;

  font-family: 'DIN next light';
  font-size: 10pt;
  line-height: 18pt;
  color: #000000;
}

.intro-text {

  margin-bottom: 20mm;

}


/***********************************************************
   * Image Container
 ***********************************************************/
.content-image {
  width: 110mm;
  height: 57mm;

  position: relative;

  background-image: url("http://www.windhager.eu/typo3temp/pics/06846-Kinder-Anzuchtset-Anwender-03_599f2beae9.jpg");
  background-size: cover;

  svg,img {
    width: 110mm;
    height: 57mm;
    position: absolute;
    top:0;
    left:0;
  }

}

/***********************************************************
   * Tabelle fuer 3-spaltige Produkte z.B. Vogelhäuser
 ***********************************************************/
.content-3col-container-175 {

  width: 175mm;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  //Zwei Zwischenräume a 5mm, 3 Bilder a 55cm = 175mm

  .product-item-3col {
    width: 55mm;
    margin-bottom: 8mm;

    border-spacing: 0;
    float: left;

    //bei jeder 3. start bei der ersten
    &:nth-child(3n+1) {
      margin-right: 5mm;
    }

    //bei jeder 3. start bei der zweiten
    &:nth-child(3n+2) {
      margin-right: 5mm;
    }

    img {
      width: 100%;
      height: 33.33mm;
    }

    .sample-container-max-5 {

      margin-bottom: 2.5mm;

      &:after {
        display: block;
        content: "";
        clear: both;
      }
      .color-form-sample-square {

        // Zwischenraum 2.5mm - max 5 Bilder, also 4 Zwischenräume
        // 4 Zwischenräume x 2.5mm = 10mm
        // Breite 55 - Zwischenräume 10 = 45mm
        // 45mm Restbreite / 5 Bilder = 9mm

        float: left;
        margin-right: 2.5mm;

        //kein Abstand rechts beim 5. item, welches das letzte ist
        &:nth-child(5n) {
          margin-right: 0;
        }

        width: 9mm;
        height: 9mm;

        //for testing:
        background-color: #b30000;

      }

    }


    .chapter-product-title {

      font-family: 'DIN next medium';
      font-size: 14pt;
      line-height: 1;
      margin-bottom: 1mm;

    }

    .product-description {
      //height: 10mm;       //sollen immer nur zwei Zeilen sein und somit fixe Höhe

      font-family: 'DIN next light';
      font-size: 8pt;
      line-height: 9pt;
      margin-bottom: 3mm;
    }

  }
}



/***********************************************************
   * Wrapper für Content der 2-spaltig ist und 110mm breit
 ***********************************************************/

@margin-table-2col : 4mm;

.content-2col-container-110 {
  margin-top: 4.5mm;
  margin-bottom: 10mm;
  width: 110mm;

  font-size: 7pt;
  line-height: 8.1pt;

  &:after {
    display: block;
    content: "";
    clear: both;
  }


  //hier können meherere Tabellen untereinander sein, es sollen
  //nur die ersten beiden table head's angezeigt werden:
  .info-table-item:nth-child(n+3) {
    thead {
      display: none;
    }
  }

}
/***********************************************************
   * Tabelle mit Produktinfos, EAN, Farbe, Form, Verpackung
 ***********************************************************/

.info-table-item {

  border-spacing: 0;
  width: 110mm/2 - @margin-table-2col/2;
  float: left;

  font-size: 7pt;
  line-height: 8.1pt;

  /* COLUMN WIDTHS (Gesamtbreite = 110/2 - @margin-table-2col" = 53mm) */
  .col-item {
    width: 17mm;
    min-width: 17mm;
  }
  .col-color-form {
    width: 9mm;
    min-width: 9mm;
  }
  .col-ean {
    width: 24mm;
  }

  //this is to adjust the above Text-Spacing coming from the font
  .item-text-container {
    position: absolute;
    top: 0.4mm;
  }

  .col-packaging {

    text-align: right;
    vertical-align: top;

    img, svg {
      width: 3mm;
      height: auto;
    }

    //this is to adjust the rught alignment for the text in this column to be in order
    .number-of-pieces {
      .item-text-container {
        right: 0.5mm;
      }
    }
  }

  //bei jeder ungeraden tabelle rechts einen Abstand zur rechten tabelle
  &:nth-child(odd) {
    margin-right: @margin-table-2col;
  }

  // alle Spalten
  td {
    vertical-align: top;
    margin: 0;
    padding: 0.5mm;
    border-bottom: 0.3pt solid rgba(0,0,0,0.5);

    position: relative;
  }

  // nur die Body Spalten, thead ist ausgenommen
  tbody td {
    vertical-align: middle;
    padding-top: 0.2mm;
    padding-bottom: 0.2mm;
  }


  .color-form-sample-square {
    width: 8mm;
    height: 8mm;

    img,svg {
      background-color: #ffffff;
      width: 100%;
    }
  }

  .ean {
    font-family: 'ean13';
    font-size: 6.5mm;
    white-space: nowrap;
    line-height: 8.5mm;

    img {
      max-width: 18mm;
    }
  }

  .packaging {

    position: absolute;
    bottom: 0;
    right: 0.5mm;
    color: #ffffff;

    &:empty {
      padding: 0;
    }

    &:after {
      content: "";
      //todo SVG
      //background: ;

    }
  }

}


/***********************************************************
   * Bild rechts in Sidebar unten bündig mit Content
 ***********************************************************/

.content-sidebar-image {

  position: absolute;

  right: -56-5mm;         //Breite + Abstand zur Sidebar
  bottom: 10mm;           //genau wie das bottom-margin vom content-table-container --> Bild soll unten bündig sein!!!
  width: 56-3.175mm;

  text-align: center;

  img {
    max-width: 100%;
    max-height: 211mm;
  }

}


/***********************************************************
   * Sidebar Bulletpoint List
 ***********************************************************/

.sidebar-bulletpoint-list {
    margin: 0;
    padding: 0 0 0 3.175mm;

    max-height: 38mm;   //35mm auf linker Seite ???

    font-size: 8pt;
    line-height: 9.6pt;
}



/***********************************************************
   * Colors
 ***********************************************************/

.rubric(@chapter-color, @tab-height, @min-width : 25mm) {
  .rubric {
    background-color: @chapter-color;
    height: @tab-height;
  }

  h2,h1 {
    color: @chapter-color;
    border-color: @chapter-color;
  }

  .cut {
    top: @tab-height - 3mm;
  }

  .chapter-product-title {
    color: @chapter-color;
  }

  .headline p {
    min-width: @min-width;
  }

  .icon {

    bottom:@basic-tab-height + 3mm + 5mm;

  }
};

[class^="rubric-"] {
 .rubric(#878787, @basic-tab-height);
}

// Schaedlingsschutz
.rubric-protection, .rubric-schaedlingsschutz {
  .rubric(#007499, @basic-tab-height, 15mm);
}

//Anzucht
.rubric-growing, .rubric-anzucht {
  .rubric(#95C11F, @basic-tab-height*2);
}

//Folien & Vliese
.rubric-foil-fleece, .rubric-folien-und-vliese {
  .rubric(#007648, @basic-tab-height*3);
}

//Winterschutz
.rubric-winter, .rubric-winter {
  .rubric(#69ACDF, @basic-tab-height*4);
}

//Tiere im Garten
.rubric-animals, .rubric-tiere-im-garten {
  .rubric(#CA9E67, @basic-tab-height*5);
}

//Gartenhilfen
.rubric-tools, .rubric-gartenhilfen {
  .rubric(#EC6608, @basic-tab-height*6);
}

//Gartengestaltung
.rubric-decoration, .rubric-gartengestaltung {
  .rubric(#D51317, @basic-tab-height*7);
}

//Planen & Abdeckungen
.rubric-cover, .rubric-planen-und-abdeckungen {
  .rubric(#13A538, @basic-tab-height*8);
}

//Sonnenschutz
.rubric-jalousie, .rubric-sichtschutz {
  .rubric(#831F82, @basic-tab-height);
}

//Sonnenschutz
.rubric-sun, .rubric-sonnenschutz {
  .rubric(#F9B000, @basic-tab-height);
}
// i
.rubric-info {
  .rubric(#878787, @basic-tab-height);
}

/***********************************************************
   * Beschnitte
 ***********************************************************/

.cut {

  display: none;

  top: @basic-tab-height -3mm;
  height: 100%;

  position: absolute;
  left: 0mm;
  width: 15mm;
  background-color: deeppink;

  .rubric--right & {
    left: unset;
    right: -3mm;
  }

}